# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
/build
next-env.d.ts

# production
/dist

# env & secrets — never commit
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
*.pem
.vscode/*
!.vscode/extensions.json
.idea

# typescript
*.tsbuildinfo
